.form-login {
	border: solid 1px #ccc; 
	border-radius: 10px 10px 0px 0px;
	min-height: 305px;
}
.btn-login {
	border-radius: 0px 0px 10px 10px;
	background-color: #fbcf3b; 
	transition-duration: 0.3s !important;
	font-size:16px;
	color: #000;
	border: none;
}

.btn-login:hover {
	border-radius: 0px 0px 10px 10px;
	background-color: #ffc60a; 
	transition-duration: 0.3s;
	font-size:16px;
	color: #000;
	border: none;
}

.btn-submit {
	border-radius: 0px 0px 10px 10px;
	background-color: #fbcf3b; 
	transition-duration: 0.3s !important;
	font-size:16px;
	color: #000;
	border: none;
}

.btn-submit:hover {
	border-radius: 0px 0px 10px 10px;
	background-color: #ffc60a; 
	transition-duration: 0.3s;
	font-size:16px;
	color: #000;
	border: none;
}